:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  --font-default: 1.2rem;
  --font-family: "League Spartan", sans-serif;

  --screen-mobile: 500px;
  --screen-desktop: 1024px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-default);
}
